@media (max-width: 1000px) {

    .row-first {
        flex-direction: column-reverse;
    }

    .item-middle {
        width: 99.9%;
        height: 50%;
    }

    .item-middle h1 {
        margin: 32px auto 16px;
    }

    .container-large {
        height: auto;
    }

    .develop {
        flex-direction: column;
    }

    .item-dev-img {
        width: 100%;
        height: auto;
        padding-bottom: 8px;
        background-color: #525252;
    }

    .item-dev-about {
        width: 100%;
        height: auto;
    }

    .item-dev-img img {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .item-dev-img h2 {
        padding-top: 8px;
        font-size: 32px;
        line-height: 48px;
    }

    .item-middle a {
        /* padding: 85px 0; */
    }

    .content {
        padding: 64px 0;
    }

    
}

@media (max-width: 670px) {
    .design {
        flex-grow: row;
        width: 100%;
    }

    .title p {
        display: inline;
        margin: 0;
    }

    .item-middle h1 {
        font-size: 40px;
        line-height: 64px;
        width: 336px;
        margin: 48px auto 16px;
    }

    .item-small h2 {
        font-size: 24px;
    }


    header, footer {
        text-align: center;
    }

    .menu p {
        display: none;
    }

    .memu ul {
        float: none;
    }

    .menu li {
        font-size: 24px;
        padding: 24px 16px;
    }

    .content p {
        height: 300px;
        width: 360px;
        line-height: 2;
    }

    .design-upcoming .item p {
        font-size: 24px;
    }
}